## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [3]:
import pandas as pd
import numpy as np

In [216]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv") #
data.head()

FileNotFoundError: [Errno 2] No such file or directory: './data/adult.data.csv'

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [5]:
# your code
m = data[(data['sex'].isin(['Male']))]
print(len(m))
w = data[(data['sex'].isin(['Female']))]
print(len(w))

21790
10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [6]:
# your code
avg_age = m['age'].mean() #m - data[(data['sex'].isin(['Male']))] from previous task
print(avg_age)

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [7]:
# your code
usa = data[data['native-country'].isin(['United-States'])]
print(len(usa)/len(data)*100)

89.5857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [8]:
# your code
over_fiftyK_age = data[~(data['salary'].isin(['<=50K']))]['age'].mean()
print(over_fiftyK_age)
lower_fiftyK_age = data[(data['salary'].isin(['<=50K']))]['age'].mean()
print(lower_fiftyK_age)
over_fiftyK_otkl = data[~(data['salary'].isin(['<=50K']))]['age'].values.std(ddof=1)
print(over_fiftyK_otkl)
lower_fiftyK_otkl = data[(data['salary'].isin(['<=50K']))]['age'].values.std(ddof=1)
print(lower_fiftyK_otkl)

44.24984058155847
36.78373786407767
10.519027719851826
14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [9]:
# your code
if len(data[(~data['salary'].isin(['<=50K']))&
     (~data['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']))]) > 0:
    print('false')
else:
    print('true')

false

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [45]:
# your code
stat = data[['race','sex','age']][(data['race'].isin(['Asian-Pac-Islander']))&(data['sex'].isin(['Male']))].groupby(['race','sex']).describe()
print(stat['age']['max'])
data[(data['race'].isin(['Asian-Pac-Islander']))&(data['sex'].isin(['Male']))]['age'].max()
stat

race                sex
Asian-Pac-Islander  Male    90.0
Name: max, dtype: float64

                           age                                                \
                         count       mean        std   min   25%   50%   75%
race               sex
Asian-Pac-Islander Male  693.0  39.073593  12.883944  18.0  29.0  37.0  46.0


                          max
race               sex
Asian-Pac-Islander Male  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [44]:
# your code
if len(data[(data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']))
            &(data['salary'].isin(['>50K']))
            &(data['sex'].isin(['Male']))]) > len(data) - len(data[(data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']))
                                                                   &(data['salary'].isin(['>50K']))
                                                                   &(data['sex'].isin(['Male']))]):
                                                           print('Married')#5965
else:
                                                           print('Not Married')#7576

Not Married

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [142]:
stat2 =(data[data['hours-per-week']== data['hours-per-week'].max()].groupby(['salary']).describe())['hours-per-week']
stat2['total_people'] = stat2['count'].sum()
stat2['percent'] = stat2['count']/stat2['total_people']*100
stat2[['max','total_people','percent']].iloc[stat2.index.get_loc('>50K'):stat2.index.get_loc('>50K')+1]

         max  total_people    percent
salary
>50K    99.0          85.0  29.411765

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [151]:
# your code
data[['native-country','salary','hours-per-week']].groupby(['native-country','salary']).mean()

                       hours-per-week
native-country salary
?              <=50K        40.164760
               >50K         45.547945
Cambodia       <=50K        41.416667
               >50K         40.000000
Canada         <=50K        37.914634
...                               ...
United-States  >50K         45.505369
Vietnam        <=50K        37.193548
               >50K         39.200000
Yugoslavia     <=50K        41.600000
               >50K         49.500000

[82 rows x 1 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [166]:
# your code 
data['AgeGroup'] = np.where(data['age'].between(16,35),'young',
                            (np.where(data['age'].between(35,70),'adult',
                                      (np.where(data['age'].between(70,100),'retiree','N/A')))))
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,young
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,adult
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,adult
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,young
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [188]:
# your code
ag = data[data['salary'].isin(['>50K'])].groupby(['AgeGroup']).describe()['age']['count'].nlargest()
print(ag)
print(ag.head(1))

AgeGroup
adult      6042.0
young      1705.0
retiree      94.0
Name: count, dtype: float64

AgeGroup
adult    6042.0
Name: count, dtype: float64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [208]:
# your code
print(data.groupby(['occupation']).describe()['age']['count'])
m = data.groupby(['occupation']).describe()[['age','hours-per-week']]
m = m[(m['age']['mean']<40)&(m['hours-per-week']['min']>5)]
m.index.tolist()

occupation
?                    1843.0
Adm-clerical         3770.0
Armed-Forces            9.0
Craft-repair         4099.0
Exec-managerial      4066.0
Farming-fishing       994.0
Handlers-cleaners    1370.0
Machine-op-inspct    2002.0
Other-service        3295.0
Priv-house-serv       149.0
Prof-specialty       4140.0
Protective-serv       649.0
Sales                3650.0
Tech-support          928.0
Transport-moving     1597.0
Name: count, dtype: float64

['Armed-Forces']